[Unit]
Description=Ctrip Server Scraper Timer (every 30 min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target